body {

margin: 0 auto;  

}


.header-img {

width: 100%;
height: auto;
}

.menu{
	    display: flex;
    padding: 0;
	justify-content: center;



}

.header-menu {

    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
margin-left: 90px;
padding: 20px 35px;
font-family: 'Arimo', sans-serif;
font-weight: bold;
    color: rgb(54, 173, 173);
    letter-spacing: 3px;


}

.header-menu:hover{
    background-color: rgba(54, 173, 173, 0.082);

}


.center {

    text-align: center;


  

}

.blockgray {

    background-color: rgb(207, 207, 207, 0.2);
padding-bottom: 80px;
}

.main-btn {
font-family: 'Tahoma', sans-serif;
color: #fff;
    padding: 18px 40px;
    background-color: rgb(64, 199, 129);
    border-radius: 3px;
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.3s;



}

.main-btn:hover { 
    background: rgb(53, 167, 110); 
}


    .footer {

 margin-top: 35px;
        font-family: 'Palatino', sans-serif;
    text-align: right;
    padding-right: 40px;
    font-weight: bold;
    margin-bottom: 25px;
    }